:root {
    --color-iris: #4d5ae5;
    --color-cloud: #F4F4FD;
    --color-slate: #434455;
    --color-light-slate: #8E8F99;
    --color-ocean: #404BBF;
    --color-blue: #2E2F42;
    --color-green: #31D0AA;
    --color-white: #FFFFFF;
    --color-modal: #FCFCFC;
    --color-cornflower: #E7E9FC;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    transition-property: color, background-color, box-shadow;
    /* text-decoration: 250ms; */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
ul, ol {
    padding: 0;
    list-style: none;
}
body,
h1, h2, h3,
p,
ul, ol, li {
    margin: 0;
}
a {
    text-decoration-skip-ink: auto;
}
img {
    display: block;

}
address {
    font-style: normal;
}
/*body*/
body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--color-white);
}
.container { 
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.link {
    text-decoration: none;
    cursor: pointer;
}
.list {
    list-style: none;
}
.current {
    border-bottom: 4px solid var(--color-ocean);
    border-radius: 2px;
}
/* header */
.header {
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 

}
.header__container {
    display: flex;
    justify-content: space-between;

}
.header__nav {
    display: flex;
    align-items: center;
}
.h-nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    position: relative;
    color: var(--color-ocean);
}
.logo {
        
        
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}
.contact__link,
.h-nav__link {
    color: var(--color-ocean);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.logo-dark {
    color: var(--color-blue);
}
.current::after {
    content: '';
    position: absolute;
    left: 0; 
    bottom: -1px; 
    height: 4px; 
    background-color: var(--color-ocean);
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.h-nav__list {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    gap: 40px;
    height: 72px;
                color: var(--color-ocean);   
}
.h-address a,
.h-nav__list a {
    color: var(--color-blue);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.h-nav__list-li {
    display: flex;
}
.h-nav__link {   
    position: relative;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.contact-links {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.h-address__list {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 72px;    
}
.h-address__list-li {
    display: flex;
    color: var(--color-ocean);
}
.h-address__list .contact-links:active,
.h-address__list .contact-links:hover,
.h-address__list .contact-links:focus,
.h-nav__list .link:active,
.h-nav__list .link:hover,
.h-nav__list .link:focus {
    color: var(--color-ocean);
}

.h-nav__list .link.active:hover::after,
.h-nav__list .link.active:focus::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    display: block;
    width: 100%;
    background-color: var(--color-ocean);
    border-radius: 2px;
    
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 250s cubic-bezier(0.4, 0, 0.2, 1);

    transform: scaleX(1.1);
}


/*banner*/
.banner {
    background-color: var(--color-blue);
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);  
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
} 

.banner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner__title {
    color: var(--color-white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}
.banner__btn {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-iris);
    cursor: pointer;
    color: var(--color-white);
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
    margin: 48px 0 0;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.banner__btn:active,
.banner__btn:hover,
.banner__btn:focus {
    background-color: var(--color-ocean);
    color: var(--color-white);
}
.section-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
/* modal-overlay */
.modal {
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        inset: 0;
    cursor: pointer;
    z-index: 9999;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
}
.modal__main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1); 
        width: 408px;
        min-height: 584px;
        background: var(--color-modal);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    
}
.modal__close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /*обнулення дефолтних відступів*/
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: var(--color-cornflower);
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.modal__close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal__close:hover,
.modal__close:focus {
    background-color: var(--color-ocean);
    bottom: none;
}


/*features*/
.features__list {
    display: flex;
    justify-content: center;
    gap: 24px;
    max-width: 1128px;
    margin: 120px 0;
}
.features__li {
    width: calc((100% - 24px * 3) / 4);
}
.features__li-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--color-cloud);
    border-radius: 4px;
    margin-bottom: 8px;
}
.features__title {
    color: var(--color-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}
.features__card-title,
.gallery__card-title {
    font-family: "Roboto", sans-serif;
    color: var(--color-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 8px 0; 
}
.features__team-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-slate);
    letter-spacing: 0.02em;
    text-decoration: none;
}
/*our-team*/
.our-team{
    column-gap: 24px; 
    row-gap: 48px; 
    padding: 120px 0;
    background-color: var(--color-cloud);
}
.section__our-team {
    display: flex;
    justify-items: center;
}
.our-team__icons {
            
}
.our-team__list,
.footer-icon {
    display: flex;
    gap: 24px;
}
.our-team__card {
    background: var(--color-white);
    display: flex;
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team__title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.our-team__card > img {
    width: 264px;
    height: 260px;
    object-fit: cover;
}
.our-team__card-content {
    padding: 32px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.our-team__card-title {
    font-family: "Roboto", sans-serif;
    color: var(--color-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.our-team__card-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.our-team__card-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.f-btn-list__button:active,
.f-btn-list__button:hover,
.f-btn-list__button:focus {
    background-color: var(--color-ocean);
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
}
        /* our-time-icon */
.our-team__icons {
    display: flex;
    justify-content: center;
    gap: 24px;

    /* padding: 32px 0; */
}

.our-team__card-icon-li {
        width: 40px;
        height: 40px;
    background-color: var(--color-iris);
    border-radius: 50%;
    position: relative;
    transition-property: background-color;
}
.our-team__card-icon-li-svg {
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-svg {
    fill: var(--color-cloud);
}
.our-team__card-icon-li-svg:hover,
.our-team__card-icon-li-svg:focus {
    background-color: var(--color-ocean);
}
/*customers*/
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers__container {
    min-width: 1128px;
    background-color: var(--color-white);
    padding: 0;
}
.customers__title {
    color: var(--color-blue);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.customers__logo {
    display: flex;    
    gap: 24px;
}
.customers__logo .icon{
    fill: var(--color-light-slate);
}
.customers__logo-li {
    width: calc((100% - 24px * 5) / 6);
    height: 88px;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid var(--color-light-slate, #8E8F99);
    transition-property: border-color;
    transition-property: fill;
}
.customers__logo-svg {
    fill: currentColor;
}
.customers__link a{
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-slate);
}
.customers__link a:hover,
.customers__link a:focus {
    color: var(--color-ocean);
    border-color: var(--color-ocean);
}
.customers__logo-li .icon:hover {
    fill: var(--color-ocean);
}
.customers__logo-li:hover {
    border-color: var(--color-ocean);
}
/*examples*/
.examples {
    padding-bottom: 120px;

}
.examples__title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.examples__li {
    width: calc((100% - 24px * 2) / 3);
}
.examples__list {
    display: flex;
    justify-items: center;    
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}
.examples__li > img {
    width: 360px;
    height: 300px;
    box-sizing: border-box;
}
.footer {
    background-color: var(--color-blue);
    color: var(--color-cloud);
    width: 100%;
}
.footer__wrapper {
    display: flex;
    align-items: baseline;
}
.footer-wrapper__logo {
    padding-top: 100px;
    padding-bottom: 17px;
                margin-right: 120px;
}
.logo-light {
    color: var(--color-cloud);
}
.footer__description {
    max-width: 264px;
    color: var(--color-cloud);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 17px;
                margin-bottom: 16px;
}
.footer__social-media {
    display: block;
    align-items: flex-start;
    padding-top: 100px;
}
.footer-social-media__text {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 17px;
}

/* footer-social-icon */
.footer-social {
    
}
.footer-social__icon {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer-social__icon-li {
    width: 40px;
    height: 40px;
    background-color: var(--color-iris);
    border-radius: 50%;
    
    fill: var(--color-cloud);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-social__icon-svg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social__icon-li:hover,
.footer-social__icon-li:focus {
    background-color: var(--color-green);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*portfolio*/
.filters {    
    padding-top: 96px;
    padding-bottom: 120px;
}
.f-btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.f-btn-list__li:hover,
.f-btn-list__li:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 

}
.f-btn-list__button {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    text-align: center;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--color-cornflower);
    background: var(--color-cloud);
    padding: 12px 24px;
}
.f-btn-list__button:hover,
.f-btn-list__button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
/*gallery*/
.gallery {
    font-family: "Roboto", sans-serif;
    background: var(--color-white);
    color: var(--color-blue);
    display: flex;
    flex-flow: wrap;
    column-gap: 24px; 
    row-gap: 48px; 
    justify-content: center;
}

.gallery__list{
    display: block;
    flex-wrap: wrap;
    flex-direction: column;   
    position: relative; 
} 
.gallery__card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.gallery__card:hover,
.gallery__card:focus {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    transform: translateY(0%);
}
.gallery__card-img {
    object-fit: cover;
}
.gallery__li {
    width: calc((100% - 2 * 24px) / 3);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
border: 1px solid var(--colo-cloud);
background: var(--color-white);
}
.gallery-li__card {
    /*overlay gallery__li*/   
    display: block; 
            position: relative;
            overflow: hidden;
}   
.gallery__card:hover,
.gallery__card:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 

}  

        .overlay{
            background-color: var(--color-iris);
            color: var(--color-cloud);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5; 
            letter-spacing: 0.02em;
            animation: 250s linear infinite; 
            
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transform: translateY(100%);
            transition: transform 250ms ease-in-out; 
        }    
        .gallery__li:hover .overlay{
            bottom: 0;
            opacity: 1;
            transform: translateY(0);
        }
        .gallery__card-content:hover,
        .gallery__card-content:hover {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);         }

.gallery__card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 16px;
    background: var(--color-white);
    row-gap: 8px;
}
.gallery__card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    
}
.gallery__team-text {
    font-family: "Roboto", sans-serif;
    color: var(--color-slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
        transform: translateY(100%);

}
.overlay-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
                padding: 40px 32px 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
